# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=personal_finance_tracker
DB_USERNAME=root
DB_PASSWORD=yourpassword

# Security Configuration
JWT_SECRET=407780517A783272357538782F413F4428472B4B6250655368566D5971337436
JWT_EXPIRATION_MS=86400000

# Spring Profiles (mysql or postgres)
SPRING_PROFILES_ACTIVE=mysql
